
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, img, pre,
a, strike, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, legend, table, caption, tr, th, td,
article, figure, figcaption, footer, header, menu, nav,  section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body {
  line-height: 1;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }
p{margin:0;}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }


/*______________HTML ELEMENTS ______________*/
html {
  height: 100%;
  box-sizing: border-box;
  }
body{
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height:1.8;
  position: relative;
  margin: 0;
  min-height: 100%;
  }
figcaption.caption {
    color: #6a5584;
    font-weight: 600;
    line-height: 1.6em;
    text-transform: uppercase;
    text-align: center;
  }

h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 50px;
  margin:0;
  padding-top:6%;
  }
h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  margin:0;
  }
h3,
h4 {
  line-height: 1.8em;
  font-weight: 600;
  }
h4 {
  font-size: 18px;
}


/*______________ TYPOGRAPHY ______________*/

.bold {
  font-weight: 600;
  }
.italic {
  font-style: italic;
  }
.txt-align--left {
  text-align: left;
  }
.txt-align--center {
  text-align: center;
  }
.txt-align--right {
  text-align: right;
  }
.txt-upper {
    text-transform: uppercase;
  }
.font-white {
  color: #fff;
  }
.font-red {
  color: #C02427;
  }
.font-black {
  color:#000;
}
.font-drk-grey {
  color: #404041;
}

/*______________ BACKGROUND COLOR ______________*/

.drk-grey {
  background-color: #404041;
  }
.lgt-grey {
  background-color: #E2E2E2;
}
.white {
  background-color: #fff;
}

/*___________ BACKGROUND IMAGES _______________*/
.bg-img--1 {
  background-image: url(http://image.e.yelp-business.com/lib/fe5915707c6207757012/m/2/ba15d197-1e24-42e4-8f69-9c744febf9f6.jpg); 
  background-position: center center;
  background-repeat:no-repeat;
  background-size: cover;
  min-height: 411px;
}

/*______________ MAX WIDTHS ______________*/

.max-width--800 {
  max-width: 800px;
  }
.max-width--1200 {
  max-width: 1200px;
  }
.center {
  margin-left: auto;
  margin-right: auto;
  }

/*___________BORDERS _________________*/

.border-top {
  border-top:1px solid #b8babc;
}
/*______________ HEADER ______________*/

header {
  background-color: #474646;
  background-image: url('http://image.e.yelp-business.com/lib/fe5915707c6207757012/m/1/39923a93-ac82-4c56-bc2b-975a58e93545.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  }

.logo-main {
  max-width: 200px;
  vertical-align: middle;
  padding:20px 0;
  }
a.headerlink,
a.headerlink:visited {
  text-decoration: none;
  color:#fff;
  }
a.headerlink:hover {
  text-decoration: underline;
  color:#A3A5A8;
  }

.header {
  display: flex;
}

.parent > div {
  flex: 0 0 100%;
}
.headline {
  padding: 0 10%;
  /*padding-right:2%;*/
  padding-right:6%;
  width:100%;
}

/*.  form1   */
div .form1 {
  padding-right:5%;
  width:100%;
  max-width:550px;
}

#idForm-01 {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 40px;
  padding:40px;
  width:100%;
}

@media (max-width:745px){
 .header{
  display: block;
  }
  .headline {
  padding: 0 2%;
  }
  .hide {
    display: none;
  }
  h1 {
    padding-bottom:20px;
  }
  div .form1 {
    padding: 0;
    max-width: 100%;
  }
  #idForm-01{
    border:none;
    border-radius: 0;
    -moz-border-radius:0;
    padding:10px;
    padding-top:10px;
  }
}

/*________ 2 COLUMN MODULES ______________*/

.two-col {
  /*padding:90px 30px;*/
  padding: 90px 18%;
}
@media (max-width: 960px){
  .two-col {
    padding: 90px 2%;
  }
}

/*_________3 and 4 COLUMN MODULES _____________*/
.section-three-col {
  padding:70px 30px;
}
.three-col {
  padding:30px;
}
.col-cell {
  padding:30px;
}
.col--headline{
  padding-bottom:15px;
}

/*______________ BUTTONS ______________*/

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: inherit;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

.primarybtn {
  position:relative;
  background: #BD2627;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  height: 45px;
  padding: 5px 40px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.primarybtn:hover{
  background-color: #911818;
  cursor: pointer
  }

/*______________ FORMS 2 and 3______________*/

#idForm-02 {
  max-width: 600px;
  margin:0 auto;
}

#idForm-03 {
  position: relative;
  margin:0 auto;
  background-color: #fff;
  padding:10px;
  width:100%;
  max-width:400px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: inherit;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

input.submitbtn,
a.submitbtn {
    background: #BD2627;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    height: 45px;
    padding: 5px 40px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

input.submitbtn:hover,
a.submitbtn:hover {
    background-color: #911818;
    cursor: pointer
}

/*________________TESTIMONIAL SLIDER______________________*/

.testimonials {
  margin:0 auto;
  text-align: center;
  margin:100px 20px;
}
.components {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.quote {
  display: inline-block;
  margin:25px;
}
article {
  align-items: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size:33px;
  line-height: 38px;
}
.test-img {
  display: inline-block;
}
.name {
  font-weight: bold;
  text-transform:uppercase;
  padding-top:20px;
}
.arrows {display: inline-block;}
.arrow1, .arrow2{
  padding:10px 40px;
  display: inline-block;
  cursor:pointer;
}
.mblshow {display: none;}
@media (max-width: 1199px){
  .mblshow {display: inline-block;}
  .mblhide {display: none;}
}
@media (max-width:980px){
 .test-img {
    text-align: center;
    display: block;
  }
  article .quote p {
    text-align: left;
  }
}

/*__________VUE SLIDE TRANSITIONS_______*/

.slide-enter {
  opacity: 0;
 }
 .slide-enter-active {
  transition: opacity 1s;
 }
 .slide-leave-active {
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
 }
 .slide-move {
  transition: transform 1s;
 }
 
 /*_____________FOOTNOTES______________*/
 .footnotes {
   border-top:1px solid #b8babc;
   padding: 14px 40px;
 }
 sup {
   font-size:7px;
   line-height:0;
   vertical-align: 5px;
   padding-right:2px;
 }
 .footnotes p {
   font-size:13px;
   line-height:17px;
   color:#909295;
   padding-bottom:5px;
 }

/*______________ FOOTER ______________*/

footer {
  background-color: #E2E2E2;
  padding:30px 0;
  }
footer ul {
  padding: 0px;
  margin:0 auto;
  position: relative;
  display: inline-block;
  width:100%;
  text-align: center;
  }
footer ul li {
  padding: 10px;
  display: inline-block;
  }
footer > ul > li {
  display: inline-block;
  }
footer ul li {
  color: #888888;
  }
footer ul li a {
  text-decoration: none;
  color: #888888;
  }
footer ul li a:hover {
  text-decoration: underline;
  color: #888888;
  }
footer ul li.hover > a {
  text-decoration: underline;
  color: #888888;
  }




