<!DOCTYPE html>
<html lang="en-us">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Yelp</title>
<meta name="Description" content="">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/lp_rsvp.css">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div>
    <!--header-->
    <header id="header">
    <div class="headline">
        <div>
        <img src="images/yelp-logo.png" alt="Yelp" />
        <h1>Dinner with Yelp: Consumer Trends, Insights &amp; Analysis</h1>
        <p><span class="fnt-bold">June 11, 2018,</span> <span class="fnt-light">[City Name]</span></p>
        <a href="#hidden-form" ><button onclick="myFunction()">RSVP</button></a>
        </div>
    </div>
    </header>
    <!--header-->

    <!--form-->
    <a id="hidden-form"></a>
    <div id="hidden-form" class="hidden-form">
        <h2>JOIN US!</h2>
        <hr />
        <p>Please fill out your information below to register for this event.</p>

        <form method="post" id="idForm-02" action="">
        <div class="form-container">

            <div class="form-container1">
            <label>First*</label>
            <input class="form-control" name="name" id="firstName" placeholder="" value="" required>
            <label>Last*</label>
            <input class="form-control" name="name" id="lastName" placeholder="" value="" required>
            </div>
            <div class="form-container2">
            <label>Title*</label>
            <input class="form-control" name="name" id="title" placeholder="" value="" required>
            <label>Company*</label>
            <input class="form-control" name="businessname" id="company" placeholder="" value="" required>
            </div>
            <div class="form-container3">
            <label>Email*</label>
            <input class="form-control" name="email" id="email" placeholder="" value="" type="email" required>
            <label>Phone*</label>
            <input class="form-control" name="phone" id="phone" placeholder="" value="" required>
            </div>
            
        </div>
        <div class="center">
            <div class="">
            <input type="submit" value="RSVP" name="submit" id="submit" class="submitbtn">
            </div>
        </div>
        </form>
    </div>
    <!--form-->

    <!--two column rtl -->
    <div class="grid--wrap grid--full large-grid--1of2 grid--gutters intro-block center" dir="rtl">
        <div class="grid-cell bg-img--1" dir="ltr">   
            <div class="two-col">
                <p class="font-white">&nbsp;</p>
            </div>
        </div>
        <div class="grid-cell" dir="ltr">
            <div class="two-col">
            <h2>Headline</h2>
            <p class="font-drk-grey">Body Copy (max 5 lines)</p>
            <p class="font-drk-grey">Body Copy (max 5 lines)</p>
            <p class="font-drk-grey">Body Copy (max 5 lines)</p>
            <p class="font-drk-grey">Body Copy (max 5 lines)</p>
            <p class="font-drk-grey">Body Copy (max 5 lines)</p>
            </div>
        </div>
    </div>
    <!--/two column rtl -->

     <!-- DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->
    <div style="padding:5px;color:#869689;background-color:#c5f7ce;text-align:center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:22px;font-style:italic;border:2px dashed #c5dbc9;">Section:<br />2 Column with Grey Background Stacking Image over Copy</div>
    <!-- /DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->

    <!-- the class lgt-grey will give you the grey color. No class call is necessary to make the background white since that is the default-->

    <!--two column ltr-->
    <div class="grid--wrap grid--full large-grid--1of2 grid--gutters intro-block center lgt-grey">
        <div class="grid-cell bg-img--1">   
            <div class="two-col">
                <p class="font-white">&nbsp;</p>
            </div>
        </div>
        <div class="grid-cell">
            <div class="two-col">
            <h2>Headline</h2>
            <p class="font-drk-grey">Body Copy (max 5 lines)</p>
            <p class="font-drk-grey">Body Copy (max 5 lines)</p>
            <p class="font-drk-grey">Body Copy (max 5 lines)</p>
            <p class="font-drk-grey">Body Copy (max 5 lines)</p>
            <p class="font-drk-grey">Body Copy (max 5 lines)</p>
            </div>
        </div>
    </div>
    <!--/two column ltr-->

     <!-- DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->
    <div style="padding:5px;color:#869689;background-color:#c5f7ce;text-align:center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:22px;font-style:italic;border:2px dashed #c5dbc9;">Section:<br />Headline and 4 Column</div>
    <!-- /DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->

    <!-- headline and copy-->
    <div class="section-padding">
    <h2 class="font-drk-grey txt-align--center">Headline (max 2 lines)</h2>
    <p class="font-drk-grey txt-align--center col--headline">Body Copy (max 2 lines)</p>
    <!--/headline and copy-->

    <!--four column centered-->
    <div class="grid--wrap grid--full small-grid--1of4 grid--gutters max-width--1200 center">
        <div class="padding-30 center txt-align--center">
        <img src="images/placeholder-icon.png" alt="" />
        <h4 class="txt-align--center margin-btm--0">Subhead</h4>
        <p class="txt-align--center margin-top--0">Body Copy</p>
        <p class="txt-align--center margin-top--0">(max 2 lines)</p>
        </div>
        <div class="padding-30 center txt-align--center">
        <img src="images/placeholder-icon.png" alt="" />
        <h4 class="txt-align--center margin-btm--0">Subhead</h4>
        <p class="txt-align--center margin-top--0">Body Copy</p>
        <p class="txt-align--center margin-top--0">(max 2 lines)</p>
        </div>
        <div class="padding-30 center txt-align--center">
        <img src="images/placeholder-icon.png" alt="" />
        <h4 class="txt-align--center margin-btm--0">Subhead</h4>
        <p class="txt-align--center margin-top--0">Body Copy</p>
        <p class="txt-align--center margin-top--0">(max 2 lines)</p>
        </div>
        <div class="padding-30 center txt-align--center">
        <img src="images/placeholder-icon.png" alt="" />
        <h4 class="txt-align--center margin-btm--0">Subhead</h4>
        <p class="txt-align--center margin-top--0">Body Copy</p>
        <p class="txt-align--center margin-top--0">(max 2 lines)</p>
        </div>
    </div>
    <!--/four column centered-->
    </div>

     <!-- DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->
    <div style="padding:5px;color:#869689;background-color:#c5f7ce;text-align:center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:22px;font-style:italic;border:2px dashed #c5dbc9;">Section:<br />Headline and 3 Column</div>
    <!-- /DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->

    <!-- headline and 3 column -->
    <div class="section-three-col lgt-grey">
    <!-- headline and copy-->
    <h2 class="font-drk-grey txt-align--center">Headline (max 2 lines)</h2>
    <p class="font-drk-grey txt-align--center padd-btm-45">Body Copy (max 2 lines)</p>
    <!--/headline and copy-->

    <!--three column centered with grey bg-->
    <div class="grid--wrap grid--full small-grid--1of3 grid--gutters max-width--1200 center">
        <div class="grid-cell txt-align--center col-cell">
        <img src="images/placeholder-icon.png" alt="" />
        <h4 class="txt-align--center margin-btm--0">Subhead</h4>
        <p class="txt-align--center margin-top--0">Body Copy</p>
        <p class="txt-align--center margin-top--0">(max 3 lines)</p>
        <p class="txt-align--center margin-top--0">(max 3 lines)</p>
        </div>
        <div class="grid-cell txt-align--center col-cell">
        <img src="images/placeholder-icon.png" alt="" />
        <h4 class="txt-align--center margin-btm--0">Subhead</h4>
        <p class="txt-align--center margin-top--0">Body Copy</p>
        <p class="txt-align--center margin-top--0">(max 3 lines)</p>
        <p class="txt-align--center margin-top--0">(max 3 lines)</p>
        </div>
        <div class="grid-cell txt-align--center col-cell">
        <img src="images/placeholder-icon.png" alt="" />
        <h4 class="txt-align--center margin-btm--0">Subhead</h4>
        <p class="txt-align--center margin-top--0">Body Copy</p>
        <p class="txt-align--center margin-top--0">(max 3 lines)</p>
        <p class="txt-align--center margin-top--0">(max 3 lines)</p>
        </div>
    </div>
    <!--/three column centered with grey bg-->
    </div>
    <!--/headline and 3 column -->

     <!-- DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->
    <div style="padding:5px;color:#869689;background-color:#c5f7ce;text-align:center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:22px;font-style:italic;border:2px dashed #c5dbc9;">Section:<br />Testimonials</div>
    <!-- /DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->
    
    <!--testimonials-->
    <div id="app" class="testimonials">
        <div class="arrows mblhide">
            <div @click="previousComponent" class="arrow1"> <img src="images/arrow1.png" alt="previous" /></div>
        </div>
        <div class="components">
        <transition name="slide">
            <section v-if="showComponent1" key="comp1">
                <div class="test-img">
                    <img src="images/placeholder-icon-02.png" alt="" />
                </div>
                <div class="quote">
                    <article>"Insert quote in this line. Should be max 1 to 2 lines"</article>
                    <p class="name">Robert e lee</p>
                    <p>hall monitor</p>
                </div>
            </section>
            <section v-if="showComponent2" key="comp2">
                <div class="test-img">
                    <img src="images/placeholder-icon-02.png" alt="" />
                </div>
                <div class="quote">
                    <article>"Insert quote 2 in this line. Should be max 1 to 2 lines"</article>
                    <p class="name">Ulysses S Grant</p>
                    <p>janitor</p>
                </div>
            </section>
            <section v-if="showComponent3" key="comp3">
                <div class="test-img">
                    <img src="images/placeholder-icon-02.png" alt="" />
                </div>
                <div class="quote">
                    <article>"Insert quote 3 in this line. Should be max 1 to 2 lines"</article>
                    <p class="name">stonewall jackson</p>
                    <p>disciplinarian</p>
                </div>
            </section>
        </transition>
        </div>
        <div class="arrows mblhide">
            <div @click="nextComponent" class="arrow2"><img src="images/arrow2.png" alt="next" /></div>
        </div>

        <div class="arrows mblshow">
            <div @click="previousComponent" class="arrow1"> <img src="images/arrow1.png" alt="previous" /></div>
            <div @click="nextComponent" class="arrow2"><img src="images/arrow2.png" alt="next" /></div>
        </div>
    </div>
    <!--/testimonials-->

    <!-- DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->
    <div style="padding:5px;color:#869689;background-color:#c5f7ce;text-align:center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:22px;font-style:italic;border:2px dashed #c5dbc9;">Section:<br />3 Column</div>
    <!-- /DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->

    <!--three column centered with grey bg-->
    <div class="lgt-grey section-three-col">
    <div class="grid--wrap grid--full small-grid--1of3 grid--gutters max-width--1200 center">
        <div class="grid-cell txt-align--center col-cell">
        <img src="images/placeholder-icon-02.png" alt="" />
        <p class="txt-align--center margin-top--0 italic font-drk-grey">"Insert quote in this line. Should be max 1 to 2 lines"</p>
        <p class="txt-align--center margin-top--0 bold txt-upper font-drk-grey">Name</p>
        <p class="txt-align--center margin-top--0 font-drk-grey">Position at work</p>
        </div>
        <div class="grid-cell txt-align--center col-cell">
        <img src="images/placeholder-icon-02.png" alt="" />
        <p class="txt-align--center margin-top--0 italic font-drk-grey">"Insert quote in this line. Should be max 1 to 2 lines"</p>
        <p class="txt-align--center margin-top--0 bold txt-upper font-drk-grey">Name</p>
        <p class="txt-align--center margin-top--0 font-drk-grey">Position at work</p>
        </div>
        <div class="grid-cell txt-align--center col-cell">
        <img src="images/placeholder-icon-02.png" alt="" />
        <p class="txt-align--center margin-top--0 italic font-drk-grey">"Insert quote in this line. Should be max 1 to 2 lines"</p>
        <p class="txt-align--center margin-top--0 bold txt-upper font-drk-grey" >Name</p>
        <p class="txt-align--center margin-top--0 font-drk-grey">Position at work</p>
        </div>
    </div>
    </div>
    <!--/three column centered with grey bg-->

   

    <!-- DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->
    <div style="padding:5px;color:#869689;background-color:#c5f7ce;text-align:center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:22px;font-style:italic;border:2px dashed #c5dbc9;">Section:<br />Form 3</div>
    <!-- /DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->

    <!-- form 3-->
    <div class="section-padding border-top">
    <h2 class="font-drk-grey txt-align--center">Headline</h2>
    <p class="txt-align--center">Complete this form and a<br />__________________ will be in touch.</p>

        <!--form-->
        <form method="post" id="idForm-03" action="">
        <div class="grid--wrap grid--full grid--gutters padding-top--s">
        <div class="grid-cell">
        <label>Business Name</label>
        <input class="form-control" name="businessname" id="businessname" placeholder="" value="" required>
        </div>
        <div class="grid-cell">
        <label>What's your role?</label>
        <input class="form-control" name="role" id="role" placeholder="" value="" required>
        </div>
        <div class="grid-cell">
        <label>First &amp; last name</label>
        <input class="form-control" name="name" id="name" placeholder="" type="email" value="" required>
        </div>
        <div class="grid-cell">
        <label>Phone number</label>
        <input class="form-control" name="phone" id="phone" placeholder="" value="" required>
        </div>
        <div class="grid-cell">
        <label>Email address</label>
        <input class="form-control" name="email" id="email" placeholder="" value="" required>
        </div>
        </div>
        <div class="grid--wrap grid--full grid--gutters center">
        <div class="grid-cell txt-align--center">
        <input type="submit" value="Submit" name="submit" id="submit" class="submitbtn">
        </div>
        </div>
        </form>
        <!--/form-->
    </div>
    <!--/form 3-->

    <!-- DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->
    <div style="padding:5px;color:#869689;background-color:#c5f7ce;text-align:center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:22px;font-style:italic;border:2px dashed #c5dbc9;">Section:<br />Headline and Cta</div>
    <!-- /DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->

    <!-- headline and cta-->
    <div class="section-padding txt-align--center border-top">
        <h2 class="font-drk-grey">Headline</h2>
        <button class="primarybtn">Cta</button>
    </div>
    <!--/headline and cta-->

    <!-- DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->
    <div style="padding:5px;color:#869689;background-color:#c5f7ce;text-align:center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:22px;font-style:italic;border:2px dashed #c5dbc9;">Section:<br />Footnotes</div>
    <!-- /DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->

    <!--footnotes-->
    <div class="footnotes">
        <p><sup>1</sup>Footnotes</p>
        <p><sup>2</sup>Footnotes</p>
    </div>
    <!--/footnotes-->

    <!-- DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->
    <div style="padding:5px;color:#869689;background-color:#c5f7ce;text-align:center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:22px;font-style:italic;border:2px dashed #c5dbc9;">Section:<br />Footer</div>
    <!-- /DO NOT COPY THIS CODE - MODULE TITLE FOR PRESENTATION -->

    <footer>
    <div class="grid--wrap grid--full">
        <div class="grid-cell">
        <ul>
        <li><a href="#">Make a Reservation</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Login</a></li>
        <li>Questions? 1-888-254-5315</li>
        </ul>
        </div>
    </div>
    </footer>
</div>

<script>
function myFunction() {
    div = document.getElementById('hidden-form');
    div.style.display = "block";
}
</script>
</body>
</html>